<?xml version="1.0"?>
<!-- modified by ren ye on 2016-06-24 for heron -->
<!--
Copyright (c) 2012, Ryan Gariepy
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of Clearpath Robotics nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

This program is a macro for adding decorative parts to the Clearpath heron M200 model. 
It is assumed that such parts are fixed to others, and those other parts' inertial 
parameters account for the decorative parts. Decorative parts currently do not 
incorporate collision.
-->

<robot name="heron_sensors"
    xmlns:xacro="http://ros.org/wiki/xacro" >

    <xacro:property name="M_PI" value="3.1415926535897931" />
    <!-- kinect camera -->
    <joint name="kinect_camera_joint" type="fixed">
        <!--<xacro:insert_block name="origin" />-->
        <origin xyz="-0.1 -0.1 0.15" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="kinect_camera_link"/>
    </joint>

    <link name="kinect_camera_link">
        <!--xacro:inertial_sphere mass="0.01" diameter="0.07" /-->
        <inertial>
                <mass value="0.01" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="2.632e-4" ixy="0" ixz="0" iyy="2.632e-4" iyz="0" izz="1.62e-4" />
            </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://hector_sensors_description/meshes/kinect_camera/kinect_camera_simple.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://hector_sensors_description/meshes/kinect_camera/kinect_camera_simple.stl"/>
            </geometry>
        </collision>
    </link>

    <joint name="kinect_camera_depth_joint" type="fixed">
        <origin xyz="0.0 -0.02 0.0" rpy="0 0 0" />
        <parent link="kinect_camera_link" />
        <child link="kinect_camera_depth_frame"/>
    </joint>

    <link name="kinect_camera_depth_frame"/>

    <joint name="kinect_camera_depth_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
        <parent link="kinect_camera_depth_frame" />
        <child link="kinect_camera_depth_optical_frame"/>
    </joint>

    <link name="kinect_camera_depth_optical_frame"/>

    <joint name="kinect_camera_rgb_joint" type="fixed">
        <origin xyz="0.0 -0.0125 0.0" rpy="0 0 0" />
        <parent link="kinect_camera_link" />
        <child link="kinect_camera_rgb_frame"/>
    </joint>

    <link name="kinect_camera_rgb_frame"/>

    <joint name="kinect_camera_rgb_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
        <parent link="kinect_camera_rgb_frame" />
        <child link="kinect_camera_rgb_optical_frame"/>
    </joint>

    <link name="kinect_camera_rgb_optical_frame"/>


    <!-- Set up camera linkage and configuration -->
    <joint name="camera_joint" type="fixed">
        <origin xyz="0.25 0.1 0.1" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="camera_link" />
    </joint>


    <link name="camera_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.02 0.02" /> 
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.02 0.02" /> 
            </geometry>
            <material name="Yellow"/>
        </visual>
    </link>


    <xacro:if value="$(arg sonar_enabled)"> 
        <!-- Set up sonar linkage and configuration -->
        <joint name="base_link_sonar_link_joint" type="fixed">
            <origin xyz="0 0 -0.1" rpy="0 1.57 0" />
            <parent link="base_link"/>
            <child link="sonar_link" />
        </joint>

        <link name="sonar_link">
            <inertial>
                <mass value="1"/>
                <origin xyz="0 0 0"/>
                <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://hector_sensors_description/meshes/sonar_sensor/max_sonar_ez4.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.02 0.02 0.02" />
                </geometry>
            </collision>
        </link>
    </xacro:if>

    <joint name="hokuyo_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0.2 0.15 0.15" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="hokuyo_link"/>
    </joint>

    <!-- Hokuyo Laser -->
    <link name="hokuyo_link">
        <collision>
            <origin xyz="0 0 -0.0115" rpy="0 0 0"/>
            <geometry>
                <box size="0.058 0.058 0.087"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://hector_sensors_description/meshes/hokuyo_utm30lx/hokuyo_utm_30lx.dae"/>
            </geometry>
        </visual>

        <inertial>
            <mass value="0.27" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="2.632e-4" ixy="0" ixz="0" iyy="2.632e-4" iyz="0" izz="1.62e-4" />
        </inertial>
    </link>

</robot>
